{
  "openWithInventory" : false,
  "startX" : 100,
  "startY" : 100,
  "gui" :
  {
    "background" :
    {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/mechstats/header.png",
      "fileBody" : "/interface/mechstats/body.png",
      "fileFooter" : "/interface/mechstats/footer.png"
    },
    "windowtitle" :
    {
      "type" : "title",
      "title" : "  Mech Status Screen",
      "icon" : {
        "type" : "image",
        "file" : "/interface/mechstats/iconfull.png",
        "zlevel" : -1
      }
    },
    "cvsPreview" :
    {
      "type" : "canvas",
      "rect" : [168, 70, 282, 150],
      "zlevel" : 1,
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    "itemSlot_body" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 129],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_leftArm" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 107],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_legs" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [138, 85],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_booster" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 129],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_rightArm" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 107],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_horn" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [160, 85],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_chip1" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [131, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_chip2" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [149, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_chip3" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [167, 46],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "itemSlot_expansion" :
    {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [149, 64],
      "callback" : "null",
      "rightClickCallback" : "null",
      "backingImage" : "/interface/blank.png"
    },
    "imgHealthBar" :
    {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/energy_bar.png",
      "zlevel" : 1,
      "position" : [191, 61]
    },
    "lblHealth" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 65],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "imgEnergyBar" :
    {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/energy_bar.png",
      "zlevel" : 1,
      "position" : [191, 51]
    },
    "lblEnergy" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 55],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "lblDrain" :
    {
      "type" : "label",
      "zlevel" : 2,
      "position" : [228, 45],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "close" :
    {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [264, 160]
    }
  },

  "scriptWidgetCallbacks" :
  [
  ],

  "scripts" : ["/interface/mechstats/mechstats.lua"],
  "scriptDelta" : 10
}
